@charset "UTF-8";
/* CSS Document */



/* ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

@font-face{
	font-family:"NotoSansLight";
	font-style:normal;
	font-weight:300;
	src:local("Noto Sans Light"), local("NotoSans-Light"),
		url("../branch.font/NotoSansCJKkr-Light.eot"),
		url("../branch.font/NotoSansCJKkr-Light.eot?#iefix") format("embedded-opentype"),
		url("../branch.font/NotoSansCJKkr-Light.woff2") format("woff2"),
		url("../branch.font/NotoSansCJKkr-Light.woff") format("woff"),
		url("../branch.font/NotoSansCJKkr-Light.ttf") format("truetype");
}
@font-face{
	font-family:'NotoSansRegular';
	font-style:normal;
	font-weight:400;
	src:local('Noto Sans Regular'), local('NotoSans-Regular'),
		url("../branch.font/NotoSansCJKkr-Regular.eot"),
		url("../branch.font/NotoSansCJKkr-Regular.eot?#iefix") format("embedded-opentype"),
		url("../branch.font/NotoSansCJKkr-Regular.woff2") format("woff2"),
		url("../branch.font/NotoSansCJKkr-Regular.woff") format("woff"),
		url("../branch.font/NotoSansCJKkr-Regular.ttf") format("truetype");
}
@font-face{
	font-family:'NotoSansMedium';
	font-style:normal;
	font-weight:500;
	src:local('Noto Sans Medium'), local('NotoSans-Medium'),
		url("../branch.font/NotoSansCJKkr-Medium.eot"),
		url("../branch.font/NotoSansCJKkr-Medium.eot?#iefix") format("embedded-opentype"),
		url("../branch.font/NotoSansCJKkr-Medium.woff2") format("woff2"),
		url("../branch.font/NotoSansCJKkr-Medium.woff") format("woff"),
		url("../branch.font/NotoSansCJKkr-Medium.ttf") format("truetype");
}



/* basic */
header,nav,section,article,aside,footer,hgroup,menu,canvas,figcaption,figure{display:block;}
html,body,table,th,td,div,p,ol,ul,li,img,a,h1,h2,h3,h4,h5,h6,form,fieldset,label,input,textarea,select,span,iframe,dl,dt,dd,pre,blockquote,time,hr{margin:0;padding:0;}

/*:lang(ko){word-break:keep-all;}*/
html, body{margin:0;padding:0;letter-spacing:-0.025em;-webkit-text-size-adjust:none;-webkit-font-smoothing:antialiased;}
body{width:100%;font-family:'NotoSansRegular','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','Dotum','Gulim','Arial',sans-serif;font-size:15px;color:#666;-webkit-overflow-scrolling:touch;-webkit-text-size-adjust:100%;}
div,p,ol,ul,li,img,a,h1,h2,h3,h4,h5,h6,form,span,iframe,dl,dt,dd{}
dl,ul,ol{list-style:none;}
table{empty-cells:show;border-collapse:collapse;width:100%;table-layout:fixed;}
fieldset{border:none;}
legend,caption,hr{display:none;}
img{border:none;}
img,label{vertical-align:top;}
button{border:0;border-radius:0;box-shadow:none;background:none;-webkit-appearance:none;}
button:focus{outline:none;}
ul, ol{list-style:none;}
em{font-style:normal;}
caption span, legend{overflow:hidden;position:absolute;left:-9999px;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}

/* font */
.fwn{font-weight:normal !important;}
.fwb{font-weight:bold !important;}

/* align */
.tac{text-align:center !important;}
.tar{text-align:right !important;}
.tal{text-align:left !important;}

.vat{vertical-align:top !important;}
.vam{vertical-align:middle !important;}
.vab{vertical-align:bottom !important;}

.frt{float:right !important;}
.flt{float:left !important;}
.fno{float:none !important;}

.cboth{*zoom:1;}
.cboth:before,.cboth:after{display:table;content:'';}
.cboth:after{clear:both;}

/* text common */
/* default link */
a{text-decoration:none;cursor:pointer;}
a:link, a:visited{text-decoration:none;color:#333;}
a:hover, a:active{text-decoration:none;color:#333;}

.txt_blue{color:#33ccff !important;}
.txt_green{color:#99ff66 !important;}
.txt_white{color:#fff !important;}

/* etc */
.blind{display:none !important;}
.skip{position:absolute;top:-100000px;left:-100000px;visibility:hidden;overflow:hidden;}

/* IE10 input type auto x delete */
input[type=text]::-ms-clear,
input[type=file]::-ms-clear{display:none;}

/* webkit */
::-webkit-input-placeholder{color:#999 !important;}
/* FF 4~18 */
:-moz-placeholder{color:#999 !important;}
/* FF 19+ */
::-moz-placeholder{color:#999 !important;}
/* IE10+ */
:-ms-input-placeholder{color:#999 !important;}
/* placehoder color style */
.my-placeholder{color:#999 !important;}

/* from (error)placeholder */
.frmError{border-color:#f44949 !important;}
.frmError::-webkit-input-placeholder{color:#f44949 !important;}
.frmError:-moz-placeholder{color:#f44949 !important;}
.frmError::-moz-placeholder{color:#f44949 !important;}
.frmError:-ms-input-placeholder{color:#f44949 !important;}

/* Chrome Field Outline = None */
input:focus{outline:none;}
textarea:focus{outline:none;}
select:focus{outline:none;}
button:focus{outline:none;}

/* margin */
.mgt0{margin-top:0 !important;}
.mgt1{margin-top:1px !important;}
.mgt2{margin-top:2px !important;}
.mgt3{margin-top:3px !important;}
.mgt4{margin-top:4px !important;}
.mgt5{margin-top:5px !important;}
.mgt6{margin-top:6px !important;}
.mgt7{margin-top:7px !important;}
.mgt8{margin-top:8px !important;}
.mgt9{margin-top:9px !important;}
.mgt10{margin-top:10px !important;}
.mgt11{margin-top:11px !important;}
.mgt12{margin-top:12px !important;}
.mgt13{margin-top:13px !important;}
.mgt14{margin-top:14px !important;}
.mgt15{margin-top:15px !important;}
.mgt16{margin-top:16px !important;}
.mgt17{margin-top:17px !important;}
.mgt18{margin-top:18px !important;}
.mgt19{margin-top:19px !important;}
.mgt20{margin-top:20px !important;}
.mgt25{margin-top:25px !important;}
.mgt30{margin-top:30px !important;}
.mgt35{margin-top:35px !important;}
.mgt40{margin-top:40px !important;}
.mgt50{margin-top:50px !important;}
.mgt57{margin-top:57px !important;}
.mgt60{margin-top:60px !important;}
.mgt70{margin-top:70px !important;}
.mgt75{margin-top:75px !important;}
.mgt80{margin-top:80px !important;}
.mgt85{margin-top:85px !important;}
.mgt90{margin-top:90px !important;}
.mgt100{margin-top:100px !important;}
.mgt234{margin-top:234px !important;}
.mgt254{margin-top:254px !important;}

.mgb0{margin-bottom:0 !important;}
.mgb5{margin-bottom:5px !important;}
.mgb10{margin-bottom:10px !important;}
.mgb15{margin-bottom:15px !important;}
.mgb20{margin-bottom:20px !important;}
.mgb25{margin-bottom:25px !important;}
.mgb30{margin-bottom:30px !important;}
.mgb37{margin-bottom:37px !important;}
.mgb40{margin-bottom:40px !important;}
.mgb42{margin-bottom:42px !important;}
.mgb45{margin-bottom:45px !important;}
.mgb50{margin-bottom:50px !important;}
.mgb55{margin-bottom:55px !important;}
.mgb60{margin-bottom:60px !important;}/* (add)20190719 */
.mgb70{margin-bottom:70px !important;}
.mgb74{margin-bottom:74px !important;}
.mgb75{margin-bottom:75px !important;}
.mgb80{margin-bottom:80px !important;}
.mgb90{margin-bottom:90px !important;}
.mgb100{margin-bottom:100px !important;}
.mgb110{margin-bottom:110px !important;}
.mgb120{margin-bottom:120px !important;}
.mgb145{margin-bottom:145px !important;}

.mgl0{margin-left:0 !important;}
.mgl10{margin-left:10px !important;}
.mgl11{margin-left:11px !important;}
.mgl12{margin-left:12px !important;}
.mgl20{margin-left:20px !important;}
.mgl21{margin-left:21px !important;}

/* padding */
.pdt0{padding-top:0 !important;}
.pdb0{padding-bottom:0 !important;}
.pdb10{padding-bottom:10px !important;}
.pdb20{padding-bottom:20px !important;}
.pdb30{padding-bottom:30px !important;}
.pdb40{padding-bottom:40px !important;}
.pdb50{padding-bottom:50px !important;}
.pdb60{padding-bottom:60px !important;}
.pdb70{padding-bottom:70px !important;}
.pdb80{padding-bottom:80px !important;}
.pdb90{padding-bottom:90px !important;}
.pdb100{padding-bottom:100px !important;}
.pdb120{padding-bottom:120px !important;}
